name: CI Tests

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:
  workflow_run:
    workflows:
      - Semver Release
    types:
      - completed
permissions:
  contents: read
  pull-requests: read

jobs:
  run-tests:
    if: ${{ github.event_name != 'workflow_run' || github.event.workflow_run.conclusion == 'success' }}
    uses: ./.github/workflows/test.yml

  test:
    runs-on: ubuntu-latest
    needs: run-tests
    steps:
      - name: All tests passed
        run: echo "All tests passed successfully"
