name: CI Tests

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read
  pull-requests: read

jobs:
  run-tests:
    uses: ./.github/workflows/test.yml

  test:
    runs-on: ubuntu-latest
    needs: run-tests
    steps:
      - name: All tests passed
        run: echo "All tests passed successfully"
